<!doctype html>
<html>
<head>
    <title><%- title %></title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <div class="container">
        <%- body %>
    </div>
</body>
</html>